*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    font-family: "Roboto", sans-serif;
    font-size: var(--font-default-size);
}

img
{
    overflow: hidden;
}

h1, h2, h3
{
    font-family: "Playfair Display", serif;
    font-weight: 300;
    color: var(--font-color-darkest);
}

div, p
{
    color: var(--font-color-dark)
}

body
{
    background-image: url("../img/header-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 300px;
}

.main-content
{
    margin: auto;
    max-width: 80vw;
    padding-top: 24px;
}

.about-me-section
{
    display: flex;
    align-items: center;
    margin-bottom: 48px;
}

.profile-pic
{
    min-height: 300px;
    min-width: 280px;
    position: relative;
    box-shadow: var(--box-shadow);
    background-image: url("../img/about-img-full.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.profile-pic > h1
{
    position: absolute;
    bottom: 6px;
    right: 50%;
    transform: translateX(50%);
    min-width: max-content;
    color: var(--font-color-lightest);
    text-shadow: var(--text-shadow);
    font-weight: 500;
}

.about-img
{
    max-width: 220px;
    display: block;
}

.about-info
{
    margin: 48px 0px;
    padding: 24px 12px;
    background-color: white;
    box-shadow: var(--box-shadow);
}

.about-info > h2
{
    margin-bottom: 24px;
}

.about-info > .social-media 
{
    margin-top: 24px;
    gap: 8px;
    display: flex;
    justify-content: flex-end;
}

.projects-section > h2
{
    margin-bottom: 24px;
}

.projects-content
{
    max-width: 100%;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    flex-wrap: wrap;
    gap: 24px;
    place-content: center;
    margin-bottom: 48px;
}

.social-media-icon
{
    width: var(--icon-size-large);
}

.icon-small
{
    width: var(--icon-size-medium);
}

.contact-me-section
{
    background-color: var(--background-color);
    padding: 24px 36px;
    display: flex;
}

.contact-me-section span,
.contact-me-section p,
.contact-me-section h2
{
    color: var(--font-color-lightest);
}

.contact-me-section span,
.contact-me-section h2
{
    margin-bottom: 8px;
}

.contact-me-section span,
.contact-me-section p
{
    font-size: 0.8rem;
}

.contact-me-section .icon-small
{
    transform: translateY(30%);
    margin-right: 8px;
    filter: invert(82%) sepia(100%) saturate(0%) hue-rotate(356deg) brightness(106%) contrast(101%);;
}

.contact-info
{
    padding: 8px;
}

.contact-me-img
{
    width: 100%;
    max-height: 300px;
    object-fit: cover;
}

.social-media
{
    margin-top: 24px;
    display: flex;
    gap: 8px;
}

footer
{
    padding: 4px;
    background-color: rgb(238, 238, 238);
}