*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    font-family: "Roboto", sans-serif;
    font-size: var(--font-default-size);
}

h1, h2
{
    font-family: "Playfair Display", serif;
    font-weight: 300;
}

.about-image
{

}

.social-media-icon
{
    width: var(--icon-size-large);
}

.icon-small
{
    width: var(--icon-size-medium);
}